.Message-Success {
  padding: 10px;
  background-color: lightblue;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Message-Error {
  padding: 10px;
  background-color: lightblue;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
}